<h4 class="text-center">Добавить нового пользователя</h4>
<form class="col-sm-12 p-4 p-md-0 col-md-6 mx-auto" method="POST" >
	<div class="mb-3">
		<label for="InputUserName" class="form-label">Имя</label>
		<input type="text" class="form-control" id="InputUserName" name="userName">
	</div>
	<div class="mb-3">
		<label for="InputSurName" class="form-label">Фамилия</label>
		<input type="text" class="form-control" id="InputSurName" name="userSurName">
	</div>
	<div class="mb-3">
		<label for="InputBirthDate" class="form-label">Дата рождения</label>
		<input type="date" class="form-control" id="InputBirthDate" name="userBirthDate">
	</div>
	<button type="submit" class="btn btn-primary">Зарегистрировать</button>
	</form>